<h2> ติดต่อเรา</h2>
<hr />
<div class="row">
    <div class="col-6">
        <h4>แผนที่</h4>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3885.776299345653!2d100.92655311140767!3d13.113353187161888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3102b9ce1cd8792d%3A0x1973959fe6df1cc2!2z4Lir4Lit4Lie4Lix4LiBIOC4qOC4tOC4peC4suC4p-C4suC4o-C4tSBTaWxhd2FyZWUgQXBhcnRtZW50!5e0!3m2!1sth!2sth!4v1724943328081!5m2!1sth!2sth"
            width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
            <h4 class="mt-4">ที่ตั้งร้าน</h4>
            <p>
                223/75 หมู่ที่ 6 อำเภอศรีราชา ชลบุรี 20230
            </p>
            <h4 class="mt-4">เบอร์โทรศัพท์</h4>
            <p>
                087-008-4660
            </p>
            <h4 class="mt-4">Social Media</h4>
    </div>
    <div class="col-6">
        <h4 class="mt-4">ที่ตั้งร้าน</h4>
        <p>
            223/75 หมู่ที่ 6 อำเภอศรีราชา ชลบุรี 20230
        </p>
        <h4 class="mt-4">เบอร์โทรศัพท์</h4>
        <p>
            087-008-4660
        </p>
        <h4 class="mt-4">Social Media</h4>
        

    </div>
</div>
