<div class="login-container">
  <h2>Login</h2>
  
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="username">Username</label>
    <input id="username" formControlName="username" type="text" required>

    <label for="password">Password</label>
    <input id="password" formControlName="password" type="password" required>

    <button type="submit">Login</button>
  </form>

  <p>Don't have an account? <a [routerLink]="['/register']">Register here</a></p> <!-- ลิงก์ไปหน้า Register -->
</div>
