<div class="container h-100 d-flex justify-content-center align-items-center font-family:'poppins', 'Kanit';">
    <h1>BENEFITS OF SHOPPING WITH JUBJIB</h1>
</div>
<div class="my-4"></div>
<div class="row">

    <div class="my-4"></div>

    <div class="row justify-content-center my-4">
        <!-- Shipping -->
        <div class="col-md-3 text-center feature-box">
            <img src="https://img.icons8.com/?size=100&id=8290&format=png&color=339AF0" alt="Shipping" class="feature-icon">
            <div>
                <h5>SHIPPING</h5>
                <p>จัดส่งภายในวันเดียวกับการสั่งซื้อโดยบริษัทขนส่งชั้นนำ</p>
            </div>
        </div>

        <!-- Return Guarantee -->
        <div class="col-md-3 text-center feature-box">
            <img src="https://img.icons8.com/?size=100&id=63724&format=png&color=8BC34A" alt="Return Guarantee" class="feature-icon">
            <div>
                <h5>RETURN GUARANTEE</h5>
                <p>เปลี่ยนคืนสินค้าได้ภายใน 15 วัน หากสินค้ามีปัญหาโดยไม่เสียค่าใช้จ่าย</p>
            </div>
        </div>

        <!-- Reliability Guarantee -->
        <div class="col-md-3 text-center feature-box">
            <img src="https://img.icons8.com/?size=100&id=61584&format=png&color=FCC419" alt="Reliability Guarantee" class="feature-icon">
            <div>
                <h5>RELIABILITY GUARANTEE</h5>
                <p>ผลิตภัณฑ์แท้ 100% ผู้จัดจำหน่ายอย่างเป็นทางการ</p>
            </div>
        </div>
    </div>

    <!-- Footer Section -->
    <footer class="footer pt-5" style="background-color: #FFC0CB; width: 100vw; padding: 20px 0; position: relative; left: 0; right: 0; border-radius: 25px 25px 0 0;">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <h6>CALL US</h6>
                    <hr>
                    <P>061-509-5462</P>
                </div>
                <div class="col-3">
                    <h6>EMAIL</h6>
                    <hr>
                    <p>jubjib&#64;gmail.com</p>
                </div>
                <div class="col-3">
                    <h6>INSTAGRAM</h6>
                    <hr>
                    <p>jubjib_shop</p>
                </div>
                <div class="col-3">
                    <img src="https://img.icons8.com/?size=100&id=pFNd0FTuBU2Q&format=png&color=000000" alt="Visa" class="feature-iconv2">
                    <img src="https://img.icons8.com/?size=100&id=Sq0VNi1Afgmj&format=png&color=000000" alt="Mastercard" class="feature-iconv2">
                    <img src="https://img.icons8.com/?size=100&id=CaSfJLdM4LTY&format=png&color=000000" alt="Paypal" class="feature-iconv2">
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <h6>ADDRESS</h6>
                    <hr>
                    <p>มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา 199 ม.6 ต.ทุ่งสุขลา อ.ศรีราชา จ.ชลบุรี 2023</p>
                </div>
                <div class="col-3">
                    <h6>FACEBOOK</h6>
                    <hr>
                    <p>JubJib STORE</p>
                </div>
                <div class="col-3">
                    <h6>TIKTOK</h6>
                    <hr>
                    <p>jubjib.shop</p>
                </div>
                <div class="col-3">
                    <div class="quick-link">
                        <h6>QUICK LINK</h6>
                        <hr>
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="/newproduct">สินค้าใหม่</a></li>
                            <li><a href="/allproduct">สินค้าทั้งหมด</a></li>
                            <li><a href="/aboutus">เกี่ยวกับเรา</a></li>
                            <li><a href="/contact-us">ติดต่อเรา</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>