<div *ngIf="product" class="product-detail">
<div class="col-4">
    <div class="card ">
      <div class="text-center">
        <img [src]="product.image" alt="{{ product.name }}" class="product-image">
      </div>
      <div>
        <h2>{{ product.name }}</h2>
        <p>Price: {{ product.price }}</p>
        <p>{{ product.description }}</p>
      </div>
          <button type="button " class="btn btn-success justify-content-center" style = "text-align: center; ">Success</button>
      </div>
    </div>
