<div class="row">
  <div class="col-md-4 mb-4" *ngFor="let product of filteredProducts">
    <div class="card-product">
      <div class="card-body text-center">
        <!-- แสดงภาพโดยใช้ฟิลด์ image ตรงๆ -->
        <img [src]="product.image" alt="{{ product.name }}" class="product-image img-fluid">

        <a [routerLink]="['/product', product._id]">
          <h5 class="font-card">{{ product.name }}</h5>
        </a>
        <p class="font-card">{{ product.price | currency:'THB':'symbol':'1.0-0' }}</p>
        <button class="btn btn-primary" (click)="addToCart(product)">เพิ่มในตะกร้า</button>

      </div>
    </div>
  </div>
</div>
