<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="allproduct.component.css">
    <title>JUBJIB SHOP</title>
</head>

<body>

  <div class="mt-4">
    <div class="row">
      <!-- ใช้ *ngFor เพื่อวนลูปแสดงสินค้า -->
      <div class="col-md-4 mb-4" *ngFor="let product of products">
        <div class="card-product">
          <div class="card-body text-center">
            <img [src]="product.image" alt="{{ product.name }}" class="product-image img-fluid">
            <a [routerLink]="['/product', product.id]" class="product-link">
              <h5 class="font-card">{{ product.name }}</h5>

            </a>
            <p class="font-card">{{ product.price | currency:'THB':'symbol':'1.0-0' }}</p>
            <a [routerLink]="['/product', product.id]" class="btn btn-primary">เพิ่มในตะกร้า</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
 