@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap');

.font {
  font-family: 'Poppins', 'Kanit';
}

.custom-navbar {
  background-color: #EAC4C4 !important;
}

.btn-color {
  background-color: #A04747;
}

.custom-search {
  margin-left: 20px;
  width: 500px;
}

.btn-outline {
  font-weight: 100;
  border-color: #000000;
  color: aliceblue;
  margin-left: 10px;
}

.login-space {
  margin-left: 100px;
}

.navbardeco {
  font-weight: 50;
}

.cart-deco {
  margin-left: 10px;
  margin-bottom: 5px;
}

.navbar-text {
  color: white;
  font-weight: bold;
  font-family: 'Poppins', 'Kanit';
}

.d-flex {
  display: flex;
}

.dropdown-menu {
  background-color: rgb(209, 230, 223);
  border-color: rgb(209, 230, 223);
  padding: 5px 10px;
}

.nav-item {
  color: white !important;
  font-weight: bold !important;
  font-family: 'Poppins', 'Kanit' !important;
  font-size: 16px;
}
