.dashboard {
  width: 100%;
  max-width: 1400px; /* เพิ่มความกว้างของ dashboard */
  
  padding: 50px; /* เพิ่ม padding */
  
  border-radius: 8px;
  margin-left: 7rem;
}

.info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px; /* เพิ่มระยะห่างระหว่างกล่อง */
}

.info-box {
  background-color: #fff;
  border-radius: 12px; /* เพิ่มความโค้งมน */
  padding: 60px; /* เพิ่ม padding ให้ใหญ่ขึ้น */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* เพิ่ม shadow ให้ชัดขึ้น */
  font-size: 26px; /* เพิ่มขนาดฟอนต์ */
  width: 100%; /* ทำให้กล่องมีขนาดเต็มความกว้าง */
  max-width: 600px; /* จำกัดความกว้างสูงสุดของกล่อง */
}

.info-box div {
  font-size: 28px; /* เพิ่มขนาดตัวอักษรภายในกล่อง */
  font-weight: bold;
}
