<app-sidebar></app-sidebar>
<div class="dashboard">
    <div class="info-container">
      <div class="info-box">
        <div>Total Sales</div>
        <div>฿{{ totalSales | number }}</div>
      </div>
      <div class="info-box">
        <div>New Orders</div>
        <div>{{ newOrders }}</div>
      </div>
      <div class="info-box">
        <div>Active Users</div>
        <div>{{ activeUsers }}</div>
      </div>
      <div class="info-box">
        <div>Revenue</div>
        <div>฿{{ revenue | number }}</div>
      </div>
    </div>
  </div>
  