<!-- app.component.html -->
<div class="container-fluid" style="padding: 0 15px;">
  <!-- Header Top -->


  <!-- Hero Section -->
  <section class="row bg-light py-5" style="display: flex; align-items: center; justify-content: center; text-align: center;">
    <div class="col-md-6 text-center text-md-start px-5">
      <h2 class="display-4" style="font-size: 3rem;">Discover the Best Deals on Jubjib</h2>
      <p style="font-size: 1.25rem;">"Jubjib.com introduces the hottest fashion trends with a user-friendly website, enabling you to explore and shop for the latest hair accessories. Check out our collection today and uncover the perfect gift of stylish hair ties and accessories!"</p>
      <button class="btn btn-dark btn-lg mt-3" style="font-size: 1.25rem;">Start Shopping Now</button>
    </div>
    <div class="col-md-6 text-center">
      <img src="https://static.wixstatic.com/media/e679fd_4f5a43577e154527ac78df242f6dc533~mv2.jpg" alt="Hair Accessories" class="img-fluid" style="width: 100%; height: 100%;">
    </div>
  </section>
</div>
