.shop-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }
  
  .shop-details {
    max-width: 50%;
  }
  
  .shop-details h1 {
    font-size: 7rem;
    color: #b05757;
  }

  .shop-details h2 {
    font-size: 3rem;
    color: #000000;
  }
  
  .shop-details p {
    font-size: 1.2rem;
    color: #333;
  }
  
  .shop-image {
    max-width: 40%;
  }
  
  .shop-image img {
    width: 800px; /* ลดขนาดรูปภาพเหลือ 30% */
    height: 700px;
    border-radius: 15px;
  }
  